#select {
    display: inline;
}
#content {
    background-color:whitesmoke;
}
#header {
    background-color: blue;
    color: white
    ;
}
#filters {
 margin: 2%;
 width: 100%
}
#loginMain {
    margin-top: 4%;
    float: right;
}
#login {
    background-color: red
}